@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

* {
    box-sizing: border-box;
}

:root{
    --dark_purple: #6a2c70;
    --dark_purple2: #471e4b;
    --light_purple: #8d3a95;
    --rose: #fd7aa3;
    --rose_2: #FEACC6;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--light_purple)); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark_purple); 
  }

body{
    font-family: Josefin Sans;
    margin: 0;
    padding: 0;
    max-width: 2560px;
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

button{
    font-family: Josefin Sans;
}

nav{
    position: fixed;
    top: 0;
    /*left: 0;*/
    width: 100%;
    height: 80px;
    background-color: var(--dark_purple2);
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--light_purple));
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    width: 170px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
}

nav .navbar{
    height: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav .navbar .nav-links .links{
    display: flex;
}

nav .navbar .nav-links .links li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
}

nav .navbar .nav-links .links li a, .drop{
    color: var(--rose_2);
    font-size: 21px;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.8s;
}

nav .navbar .nav-links .links li.drop{
    cursor: context-menu;
}

nav .navbar .nav-links .links li.social-networks a{
    font-size: 36px;
    padding: 2px;
}

nav .navbar .nav-links .links li a:hover, .drop:hover{
    color: yellow;
}

nav .navbar .nav-links .links li .arrow{
    font-size: 30px;
    color: var(--rose_2);
    transition: all 0.5s ease;
}

nav .navbar .nav-links .links li:hover .arrow {
    transform: rotate(180deg);
}

nav .navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 40px;
    background-color: var(--dark_purple);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
}

nav .navbar .nav-links .links .sub-menu .logoutButton{
    background-color: inherit;
    font-family: Josefin Sans;
    border-color: inherit;
    font-size: 20px;
    color: var(--rose_2);
}

nav .navbar .nav-links .links li:hover > .sub-menu {
    display: block;
}

nav .navbar .nav-links .links .sub-menu li {
    padding-top: 10px;
}

nav .navbar .login-button {
    background-color: var(--rose);
    padding: 10px 20px;
    border: 2px solid var(--rose_2);
    border-radius: 20px;
    transition: all 0.5s;
}

nav .navbar .login-button:hover {
    background-color: skyblue;
    border: 2px solid slategray;
}

nav .navbar .hamburger-icon {
    display: none;
}

nav .navbar .hamburger-icon i{
    font-size: 40px;
    color: var(--rose_2);
}

/* Statusa ziņojums / Status Message */

.statusMessage{
    font-size: 20px;
    padding: 20px;
    text-align: left;
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    width: auto;
    position: fixed;
    top: 140px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 400px;
    z-index: 1;
}

/* Galvenā lapa / The Main Page */

.indexImage {
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-top: 95px;
    border-radius: 30px;
    width: 90%; 
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../Images/IndexBackground1.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.indexImage .indexImageLayer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.indexImage .textOnImage1 {
    margin-top: 32px;
    margin-left: 32px;
    width: 75%;
}

.indexImage p {
    margin-bottom: 25px;
}

.indexImage .textOnImage1 .textOnImage1_1 {
    color: white;
    font-size: 40px;
}

.indexImage .textOnImage1 .textOnImage1_2 {
    color: white;
    font-size: 55px;
    margin-top: 10px;
}

.indexImage .textOnImage1 .textOnImage1_3 {
    color: white;
    font-size: 70px;
    margin-top: 10px;
}

.indexImage .textOnImage1 .textOnImage1_3 .matemila {
    color: var(--rose_2);
    font-size: 100px;
}

.newsSection {
    margin-top: 20px;
    height: auto;
    padding: 20px;
}

.newsSection h2{
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
    color: var(--dark_purple2);
}

.newsSection .newsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.newsSection .newsContainer .newsBox{
    background-color: var(--dark_purple);
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--light_purple));
    box-shadow: 10px 10px 5px #aaaaaa;
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 32px;
}

.newsSection .newsContainer .newsBox .newsBox_half1{
    padding: 10px;
    width: 40%;
}

.newsSection .newsContainer .newsBox .newsBox_half1 .newsBoxImage{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 6px 18px #000000;
}

.newsSection .newsContainer .newsBox .newsBox_half2{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 60%;
}

.newsSection .newsContainer .newsBox .newsBox_half2 h3{
    color: var(--rose_2);
    font-size: 40px;
    font-weight: bold;
}

.newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxText{
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
}

.newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxDate{
    color: var(--rose);
    font-size: 18px;
    margin-top: -20px;
}

.newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxButton{
    border: 2px solid white;
    padding: 4px;
    background-color: var(--rose_2);
    border-radius: 12px;
    color: var(--dark_purple2);
    text-decoration: none;
    box-shadow: 1px 4px 18px #000000;
}

.aboutUs {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, var(--rose_2), var(--light_purple), var(--dark_purple));
    box-shadow: 10px 10px 5px #aaaaaa;
}

.aboutUs h2{
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    color: var(--rose_2);
}

.aboutUs .aboutUsBox{
    background-image: linear-gradient(to bottom right, var(--rose_2), var(--rose), violet);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 40px;
}

.aboutUs .aboutUsBox .aboutUsBoxIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 10%;
    padding: 20px;
}

.aboutUs .aboutUsBox .aboutUsBoxIcon i{
    font-size: 90px;
    color: var(--dark_purple2);
}

.aboutUs .aboutUsBox p{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--dark_purple2);
}

.aboutUs .aboutUsBox li{
    color: var(--dark_purple2);
}

footer {
    margin-top: 40px;
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--light_purple));
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footerBox{
    margin-left: 20px;
    margin-right: 20px;
}

footer .leftFooterContent .footerText1{
    font-size: 20px;
    color: var(--rose);
}

footer .rightFooterContent{
    line-height: 0.6;
}

footer .rightFooterContent .rightFooterLabel {
    font-size: 30px;
    color: var(--rose_2)
}

footer .rightFooterContent .rightFooterField {
    font-size: 24px;
    color: blanchedalmond;
}

footer .rightFooterContent .rightFooterField a{
    color: blanchedalmond;
    text-decoration: none;
    margin-left: 16px;
    transition: 0.8s color;
}

footer .rightFooterContent .rightFooterField a:hover{
    color: yellow;
}

/* Priekš dažādām lapām / For various pages */

.dialog{
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.dialog .dialogContent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 32px;
}

.dialog .dialogContent .close{
    color: red;
    float: right;
    font-size: 42px;
    font-weight: bold;
}

.dialog .dialogContent .close:hover, .close:focus {
  color: var(--dark_purple2);
  text-decoration: none;
  cursor: pointer;
}

.dialog .dialogContent .dialogText{
    font-size: 28px;
    text-align: center;
    color: var(--dark_purple2);
}

.dialog .dialogContent .dialogSubtext{
    font-size: 22px;
    text-align: center;
}

.dialog .dialogContent form{
    text-align: center;
}

.dialog .dialogContent form label{
    font-size: 20px;
}

.dialog .dialogContent form input{
    background-color: inherit;
    border-color: black;
    color: black;
}

.dialog .dialogContent form button{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    background-color: firebrick;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.dialog .dialogContent form .textDanger{
    text-align: center;
    color: var(--dark_purple2);
}

.purplePageHeader{
    margin-top: 100px;
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--rose_2));
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 18px #000000;
    z-index: -1;
}

.purplePageHeader .headerIcon{
    height: 150px;
    margin: 0 10px 0 10px;
}

.purplePageHeader h1{
    font-size: 64px;
    color: var(--rose_2);
    text-align: center;
    margin: 0 10px 0 10px;
}

.text-danger{
    color: yellow;
    margin-top: -10px;
}

.pageLinks{
    text-align: center;
    font-size: 18px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pageLinks a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.pageLinks .previousPageLink, .nextPageLink{
    padding: 10px;
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    border-radius: 16px;
}

.pageLinks .pageNumberLink{
    color: var(--dark_purple2);
}

.pageLinks .currentPageNumberLink{
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    padding: 10px;
    border-radius: 50%;
}

.emptyListWarning{
    text-align: center;
    font-size: 40px;
    color: var(--dark_purple2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.dateInfo{
    margin-top: 0px;
    font-size: 16px;
}

.pointsInfo{
    font-size: 24px;
}

.formBox{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 20px;
    border-radius: 32px;
}

.formBox form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBox form .formHalfs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox form .formHalfs .formHalf{
    text-align: center;
    margin: 15px;
}

.formBox form .formHalfs label{
    font-size: 20px;
    color: var(--rose_2);
}

.formBox form .formHalfs input, select{
    width: 400px;
    background-color: inherit;
    font-size: 20px;
    border-radius: 32px;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.formBox form .formHalfs select{
    font-family: Josefin Sans;
    border-color: var(--rose_2);
    color: var(--rose_2);
}

.formBox form .formHalfs textarea{
    background-color: inherit;
    border: 2px solid var(--rose_2);
    border-radius: 24px;
    padding: 5px;
    font-family: Josefin Sans;
    color: var(--rose_2);
    font-size: 20px;
    resize: none;
    width: 400px;
    height: 300px;
}

.formBox form .formHalfs .rangeText{
    color: var(--rose_2);
}

.formBox form .formHalfs option{
    color: var(--dark_purple2);
}

.formBox form .formHalfs .infoText{
    width: 400px;
    color: var(--rose);
}

.formBox form button{
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 32px;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    padding: 8px;
    border-radius: 20px;
    font-family: Josefin Sans;
    border: 2px solid var(--rose_2);
    width: 240px;
}

/* Ātrrēķināšanas jaunumu lapa / Mental Math News Page */

.mentalMathNewsSection{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.mentalMathNewsSection .mentalMathNewsBox{
    display: flex;
    padding: 12px;
    background-image: linear-gradient(to bottom right, var(--rose), var(--rose_2), var(--light_purple));
    border-radius: 32px;
    box-shadow: 1px 4px 18px #000000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mentalMathNewsSection .mentalMathNewsBox .mentalMathNewsImage{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide{
    display: flex;
    flex-direction: column;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo{
    padding: 10px;
    line-height: 1;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo h2{
    font-size: 72px;
    color: var(--dark_purple2);
    font-weight: 500;
    margin-top: 0px;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo p{
    font-size: 20px;
    font-style: oblique;
    color: var(--light_purple);
    margin-top: -50px;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .newsText{
    margin-top: -10px;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .newsText p{
    font-size: 18px;
    padding-left: 10px;
}

.mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide a{
    padding-left: 10px;
}

.mentalMathNewsSection .mentalMathNewsBox a{
    text-decoration: none;
    color: var(--rose_2);
    font-size: 24px;
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple));
    width: 200px; 
    margin-left: 10px;
    border-radius: 28px;
    box-shadow: 1px 4px 18px #000000;
    transition: 0.3s all;
}

.mentalMathNewsSection .mentalMathNewsBox a:hover{
    font-size: 28px;
    color: yellow;
    width: 250px;
}


/* Ātrrēķināšanas treniņu lauku lapa / Mental Math Training Discilpines Page */

.numbersModeBar{
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top left, var(--dark_purple2), var(--dark_purple), var(--rose_2));
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
}

.numbersModeBar .numbersModeText{
    font-size: 54px;
    color: white;
    padding: 10px;
}

.numbersModeBar ul{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.numbersModeBar ul li{
    list-style: none;
    margin: 5px 20px 5px 20px;
    color: var(--rose_2);
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 0px;
    list-style-position: inside;
    padding: 6px;
    transition: background-image 0.5s ease-in-out, color 0.5s;
}

.numbersModeBar ul li:hover{
    color: yellow;
}

.numbersModeBar ul li.active{
    background-image: linear-gradient(to top left, var(--rose), var(--rose_2));
    padding: 6px;
    border-radius: 12px;
    color: var(--dark_purple2);
}

.discilpinesList{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    border: 2px solid var(--rose);
    padding-bottom: 30px;
    animation: fadeIn 0.5s
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.discilpinesList.hide{
    display: none;
}

.discilpinesList h2{
    font-size: 40px;
    color: var(--dark_purple2);
    text-align: center;
}

.discilpinesList .discilpine{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.discilpinesList .discilpine .discilpineModes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
}

.discilpinesList .discilpine h3{
    font-size: 24px;
    color: var(--light_purple)
}

.discilpinesList .discilpine h3 i{
    border: 2px solid var(--dark_purple);
    padding: 3px;
    font-size: 32px;
    border-radius: 50%;
}

.discilpinesList .discilpine .discilpineModes a{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--dark_purple);
    text-decoration: none;
    font-size: 22px;
    border: 2px solid var(--dark_purple);
    border-radius: 32px;
    padding: 6px;
}

/* Ātrrēķināšanas treniņu rezultātu lapa / Mental Math Training Results Page */

.trainingResultsForm{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 32px;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.trainingResultsForm h2{
    font-size: 40px;
    color: var(--rose_2);
    text-align: center;
}

.trainingResultsForm form{
    display: flex;
    flex-direction: column;
}

.trainingResultsForm form .trainingResFormFields{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trainingResultsForm form .trainingResFormFields .trainingResForm1Half{
    margin-right: 20px;
}

.trainingResultsForm form .trainingResFormFields .trainingResForm2Half{
    margin-left: 20px;
}

.trainingResultsForm form .trainingResFormFields label{
    display: inline-block;
    width: 120px;
    margin: 15px;
    color: var(--rose_2);
}

.trainingResultsForm form .trainingResFormFields select{
    font-size: 16px;
    border-radius: 12px;
    padding: 5px;
    font-family: Josefin Sans;
    background-color: inherit;
    border: 3px solid var(--rose_2);
    color: var(--rose_2);
}

.trainingResultsForm form .trainingResFormFields option{
    color: var(--dark_purple2);
}

.trainingResultsForm form .trainingResFormFields .trainingResForm1Half select{
    width: 260px;
}

.trainingResultsForm form .trainingResFormFields .trainingResForm2Half select{
    width: 260px;
}

.trainingResultsForm form .trainingResFormFields .trainingResForm2Half select.classes{
    width: 142.5px;
    font-size: 14px;
}

.trainingResultsForm form button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Josefin Sans;
    border-radius: 24px;
    background-image: linear-gradient(to top left, var(--dark_purple2), var(--dark_purple), var(--rose_2));
    color: var(--rose_2);
    border-color: var(--dark_purple2);
    padding: 5px;
    cursor: pointer;
}

.trainingResultsSection{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.trainingResultsSection table{
    width: 100%;
    border-radius: 32px;
}

.trainingResultsSection table, tr, th, td{
    padding: 5px;
}

.trainingResultsSection tr{
    background-color: var(--rose_2);
}

.trainingResultsSection tr:first-child{
    background-color: var(--dark_purple2);
    color: white;
}

.trainingResultsSection tr:first-child th:first-child{
    border-top-left-radius: 20px;
}

.trainingResultsSection tr:first-child th:last-child{
    border-top-right-radius: 20px;
}

.trainingResultsSection tr:last-child th:first-child{
    border-bottom-left-radius: 20px;
}

.trainingResultsSection tr:last-child th:last-child{
    border-bottom-right-radius: 20px;
}

.trainingResultsSection tr:nth-child(2){
    background-color: #FEE101;
}

.trainingResultsSection tr:nth-child(3){
    background-color: #D7D7D7;
}

.trainingResultsSection tr:nth-child(4){
    background-color: #A77044;
}

.trainingResultsSection td{
    text-align: center;
    font-size: 18px;
}

.trainingResultsSection td .place{
    font-size: 13px;
}

.trainingResultsSection td:nth-child(2) .classForMobile, .schoolForMobile{
    display: none;
}

.trainingResultsSection td:nth-child(5){
    font-size: 24px;
}





/* Ātrrēķināšanas instrukcijas lapa / Mental Math Instruction Page */

.instructionSection{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.instructionSection .instructionQuestion{
    background-image: linear-gradient(to bottom right, var(--dark_purple2), var(--dark_purple), var(--light_purple));
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 12px;
    box-shadow: 1px 4px 18px #000000;
    cursor: pointer;
}

.instructionSection .instructionQuestion p{
    font-size: 32px;
    color: var(--rose_2);
}

.instructionSection .instructionQuestion .bx-chevron-down,
.instructionSection .instructionQuestion .bx-chevron-up{
    font-size: 48px;
    color: var(--rose_2);
    
}

.instructionSection .instructionQuestion .bx-chevron-down{
    display: block;
    rotate: 0deg;
    transition: rotate 0.2s;
}


.instructionSection .instructionQuestion .instructionQuestionNumber{
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    padding: 10px;
    border-radius: 50%;
}

.instructionSection .instructionAnswer{
    background-image: linear-gradient(to bottom right, var(--rose_2), var(--rose), darksalmon);
    padding: 0 12px;
    border-radius: 30px;
    box-shadow: 1px 4px 18px #000000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.instructionSection p{
    font-size: 18px;
}

/* E-skolas tēmu lapa / E-learning Topics Page */

.eSchoolFilterBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 32px;
}

.eSchoolFilterBox h2{
    text-align: center;
    font-size: 36px;
    color: var(--rose_2);
}

.eSchoolFilterBox form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eSchoolFilterBox form .field{
    margin-right: 20px;
    /*display: inline-block;
    width: 200px;*/
}

.eSchoolFilterBox form label{
    font-size: 24px;
    margin-right: 3px;
    color: var(--rose_2);
}

.eSchoolFilterBox form select, input{
    font-size: 24px;
    border-radius: 20px;
    font-family: Josefin Sans;
    padding: 5px;
    background-color: var(--dark_purple);
    color: var(--rose_2);
    margin-right: 5px;
    border-color: var(--rose_2);
    width: 240px;
    display: inline-block;
}

.eSchoolFilterBox form select option{
    background-color: white;
    color: var(--dark_purple2);
}

.eSchoolFilterBox form button{
    font-size: 24px;
    font-family: Josefin Sans;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    transition: 0.5s all ease;
}

.eSchoolFilterBox form button:hover{
    background-color: skyblue;
    border: 2px solid slategray;
}

.eSchoolTopicsBox{
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.eSchoolTopicsBox .topicBox{
    border-radius: 50% 50% 32px 32px;
    background-image: linear-gradient(to bottom right, var(--dark_purple), var(--light_purple), var(--rose));
    padding-bottom: 12px;
    margin: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.eSchoolTopicsBox .topicBox:hover{
    scale: 1.15;
}

.eSchoolTopicsBox .topicBox img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
}

.eSchoolTopicsBox a{
    text-decoration: none;
}

.eSchoolTopicsBox .topicBox .topicBoxText h3{
    font-size: 32px;
    text-align: center;
    color: var(--rose_2);
}

.eSchoolTopicsBox .topicBox .topicBoxText p{
    font-size: 16px;
    text-align: center;
    margin-top: -16px;
    color: var(--rose_2);
}

/* Foruma kategoriju lapa / Forum Categories Page */

.forumSearchBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    text-align: center;
}

.forumSearchBox form .forumSearchInput{
    width: 80%;
    font-size: 30px;
    color: var(--dark_purple2);
    padding: 5px;
    background-color: inherit;
}

.forumSearchBox form button{
    font-size: 30px;
    background-image: linear-gradient(to top left, var(--dark_purple2), var(--dark_purple), var(--rose_2));
    color: var(--rose_2);
    font-family: Josefin Sans;
    border: 2px solid var(--rose_2);
    border-radius: 20px;
    padding: 5px;
}

.forumCategoriesBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.forumCategoriesBox .forumCategory{
    display: flex;
    background-image: linear-gradient(to bottom left, var(--dark_purple), var(--light_purple), var(--rose));
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 10px;
    border-radius: 30px 70px 30px 70px;
    margin: 20px;
    max-width: 550px;
}

.forumCategoriesBox a{
    text-decoration: none;
}

.forumCategoriesBox .forumCategory img{
    height: auto;
    width: auto;
    max-width: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.forumCategoriesBox .forumCategory .forumCategoryText{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forumCategoriesBox .forumCategory .forumCategoryText h3{
    color: var(--rose_2);
    font-size: 32px;
}

.forumCategoriesBox .forumCategory .forumCategoryText ul li{
    list-style: none;
    color: var(--rose);
    font-size: 18px;
}

/* Autentifikācijas lapa / Login Page */

.loginBox{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 20px;
    border-radius: 32px;
}

.loginBox form{
    text-align: center;
}

.loginBox form label{
    font-size: 20px;
    color: var(--rose_2);
}

.loginBox form input{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 2px solid var(--rose_2);
}

.loginBox form button{
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 32px;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    padding: 8px;
    border-radius: 20px;
    font-family: Josefin Sans;
    border: 2px solid var(--rose_2);
    width: 240px;
}

.loginBox form .forgotPasswordLink{
    text-decoration: none;
    font-size: 18px;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    padding: 8px;
    border-radius: 20px;
    width: 140px;
}

.secondLoginBox{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 20px;
    border-radius: 32px;
}

.secondLoginBox div{
    margin: 20px;
}

.secondLoginBox .firstPart{
    min-width: 50%;
}

.secondLoginBox .firstPart h2{
    font-size: 40px;
    color: skyblue;
}

.secondLoginBox .firstPart ul{
    font-size: 20px;
}

.secondLoginBox .firstPart ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--rose_2);
}

.secondLoginBox .firstPart ul li::marker{
    content: '✅';
}

.secondLoginBox .secondPart .registerLink{
    font-size: 36px;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    text-decoration: none;
    border-radius: 32px;
    padding: 16px;
}

/* Reģistrācijas lapa / Registration Page */



/* Paroles aizmiršanas lapa / Forgot Password Page */

.forgotPasswordBox{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 20px;
    border-radius: 32px;
    text-align: center;
}

.forgotPasswordBox .forgotPasswordText{
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    color: var(--rose_2);
}

.forgotPasswordBox form label{
    font-size: 20px;
    color: var(--rose_2);
}

.forgotPasswordBox form input{
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: inherit;
}

.forgotPasswordBox form button{
    font-size: 28px;
    cursor: pointer;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    border-radius: 32px;
    padding: 8px;
}

.forgotPasswordBox .indexLink{
    font-size: 28px;
    cursor: pointer;
    background-color: var(--rose_2);
    color: var(--dark_purple2);
    border-radius: 32px;
    padding: 8px;
    text-decoration: none;
    margin-bottom: 20px;
}

/* Profila informācijas lapa / Profile Information Page */

.profileBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 32px;
    background-image: linear-gradient(to top left, var(--dark_purple), var(--light_purple), var(--rose_2));
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBox .profileBoxHalf{
    margin: 20px 40px 20px 40px;
    text-align: center;
}

.profileBox .profileBoxHalf .label{
    font-size: 22px;
    color: var(--rose_2);
}

.profileBox .profileBoxHalf .value{
    font-size: 36px;
    color: white;
}

.profileButtons{
    margin-top: 40px;
    width: 100%;
    
}

.profileButtons ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

.profileButtons ul li{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    background-color: var(--dark_purple2);
    padding: 12px;
    border-radius: 20px;
    box-shadow: 4px 4px 2px #aaaaaa;
}

.profileButtons ul li.deleteButton{
    background-color: firebrick;
    color: white;
    cursor: pointer;
}

.profileButtons ul a{
    text-decoration: none;
}

.profileButtons ul a li{
    color: var(--rose_2);
}

/* Visu lietotāju profilu lapa / All Users Profiles Page */

.allProfilesTable{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.allProfilesTable tr, th, td{
    padding: 8px;
}

.allProfilesTable th{
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    font-size: 24px;
}

.allProfilesTable tr:nth-child(even){
    background-color: var(--rose);
}

.allProfilesTable tr:nth-child(odd){
    background-color: var(--rose_2)
}

.allProfilesTable span{
    font-size: 24px;
}

.allProfilesTable a{
    text-decoration: none;
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    padding: 5px;
    border-radius: 12px;
}

.allProfilesTable .deleteButton{
    background-color: firebrick;
    color: white;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.allProfilesTable .profileButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.allProfilesTable .mobilePosition{
    display: none;
}

.pageLinks{
    text-align: center;
    font-size: 18px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pageLinks a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.pageLinks .previousPageLink, .nextPageLink{
    padding: 10px;
    background-color: var(--dark_purple2);
    color: var(--rose_2);
    border-radius: 16px;
}

/* Sacensību galvenā lapa / Races Main Page */

.racesMenuBar{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(to top left, var(--dark_purple2), var(--dark_purple), var(--rose_2));
    box-shadow: 4px 4px 2px #aaaaaa;
    border-radius: 32px;
}

.racesMenuBar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.racesMenuBar ul li{
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 32px;
    border-radius: 32px;
    color: var(--rose_2);
    transition: all 0.5s;
}

.racesMenuBar ul li:hover{
    color: yellow;
}

.racesMenuBar ul li.selected{
    color: var(--dark_purple2);
    background-color: var(--rose_2);
    transition: all 0.3s all;
}

.racesMenuBar ul .createNewRaceButton{
    text-decoration: none;
    color: var(--rose_2);
}

.racesBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
    animation: fadeIn 0.5s;
}

.racesBox .racesBoxField{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.racesBox.hidden{
    display: none;
}

.raceBox{
    width: 40%;
    padding: 12px;
    background-image: linear-gradient(to top right, var(--rose), var(--dark_purple), var(--dark_purple2));
    border-radius: 32px;
    color: var(--rose_2);
    margin: 20px;
    box-shadow: 4px 4px 2px #aaaaaa;
}

.raceBox h2{
    text-align: center;
    font-size: 32px;
}

.raceBox .raceInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -20px;
}

.raceBox .raceInfo p{
    margin: 5px;
}

.raceBox .raceLinksBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.raceBox .raceLinksBox{
    font-size: 18px;
}

.raceBox .raceLinksBox a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.raceBox .raceLinksBox .openRaceButton{
    background-color: green;
    border: 2px solid white;
}

.raceBox .raceLinksBox .openRaceResultsButton{
    background-color: darkturquoise;
    border: 2px solid white;
    color: white;
}

.raceBox .raceLinksBox .editRaceButton{
    background-color: darkcyan;
    border: 2px solid white;
}

.raceBox .raceLinksBox .editRaceDisciplinesButton{
    background-color: darkblue;
    border: 2px solid white;
}

.raceBox .raceLinksBox .deleteRaceButton{
    background-color: red;
    border: 2px solid white;
}

/*****/
/*****/
/* Mobilajām ierīcēm / for mobile devices */
/*****/
/*****/

@media (max-width: 1199px){
    nav .navbar{
        max-width: 100%;
        padding: 0 2px;
    }

    nav .navbar .nav-links .links li{
        padding: 0 7px;
    }

    nav .navbar .nav-links .links li a, .drop{
        font-size: 18px;
    }

    nav .navbar .nav-links .links li.social-networks a{
        font-size: 24px;
        letter-spacing: 3px;
    }

    nav .navbar .login-button {
        padding: 5px 15px;
    }
    
    nav .navbar .login-button a{
        font-size: 20px;
    }

    /* Autentifikācijas lapa / Login Page */

    .secondLoginBox .firstPart{
        width: 60%;
    }

    .secondLoginBox .secondPart .registerLink{
        font-size: 32px;
        padding: 16px;
    }
}

@media (max-width: 990px){
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        background-image: var(--dark_purple2);
        top: 80px;
        left: 100%;
        width: 100%;
        padding-bottom: 15px;
        border-radius: 30px;
        transition: all 0.5s ease;
        height: 100vh;
        background-image: linear-gradient(to bottom left, var(--dark_purple2), var(--dark_purple), var(--light_purple));
        overflow-y: auto;
    }

    nav .navbar .nav-links .links{
        display: block;
    }

    nav .navbar .nav-links .links li{
        padding-top: 20px;
        display: block;
        font-size: 36px;
    }



    nav .navbar .nav-links .links li a.link, .drop{
        font-size: 36px;
    }

    nav .navbar .nav-links .links li.social-networks a{
        font-size: 40px;
        padding-left: 12px;
    }

    nav .navbar .nav-links .links li.social-networks a:first-child{
        padding-left: 0px;
    }

    nav .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
    }

    nav .navbar .nav-links .links .sub-menu li {
        padding-top: 20px;
    }

    nav .navbar .nav-links .links li:hover > .sub-menu {
        display: none;
    }

    nav .navbar .nav-links .links li .arrow{
        font-size: 30px;
    }

    nav .navbar .nav-links .links li:hover .arrow{
        transform: rotate(0deg);
    }

    nav .navbar .nav-links .links li .sub-menu.show{
        display: block;
        margin-top: 10px;
        background-color: transparent;
        box-shadow: none;
        animation-name: sub-menu-fadein;
        animation-duration: 0.7s;
    }

    nav .navbar .nav-links .links li .sub-menu.show li a{
        color: #E78BB9;
        font-size: 32px;
    }

    nav .navbar .nav-links .links li .sub-menu .logoutButton{
        font-size: 32px;
    }

    @keyframes sub-menu-fadein{
        from {opacity: 0;}
        to {opacity: 1;}
    }

    nav .navbar .login-button{
        display: block;
        width: 160px;
    }

    nav .navbar .hamburger-icon{
        display: block;
        padding-right: 20px;
    }

    /* Galvenā lapa / The Main Page */

    .indexImage{
        background-position-x: right;
        width: 100%;
    }

    .newsSection .newsContainer .newsBox{
        width: 45%;
        flex-direction: column;
        padding: 5px 5px 10px 5px;
    }

    .newsSection .newsContainer .newsBox .newsBox_half1{
        width: 100%;
    }

    .newsSection .newsContainer .newsBox .newsBox_half2{
        margin-top: -15px;
        width: 100%;
    }

    .newsSection .newsContainer .newsBox .newsBox_half2 h3{
        text-align: center;
        font-size: 31px;
    }

    .newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxText{
        line-height: 1.3;
    }

    .newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxDate{
        text-align: center;
    }

    .newsSection .newsContainer .newsBox .newsBox_half2 .newsBoxButton{
        font-size: 22px;
        text-align: center;
        margin: 0 auto;
    }

    .aboutUs{
        width: 100%;
    }

    .aboutUs .aboutUsBox{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    footer .footerBox{
        text-align: center;
    }

    /* Priekš vairākām lapām / For various pages */

    .purplePageHeader .headerIcon{
        height: 100px;
    }
    
    .purplePageHeader h1{
        font-size: 42px;
    }

    .formBox{
        margin-bottom: 50px;
    }

    .formBox form .formHalfs{
        flex-direction: column;
    }

    .formBox form .formHalfs .formHalf label{
        font-size: 28px;
    }

    .formBox form .formHalfs .formHalf input, select{
        padding: 10px;
        font-size: 22px;
    }

    /* Ātrrēķināšanas jaunumu lapa / Mental Math News Page */

    .mentalMathNewsSection .mentalMathNewsBox .mentalMathNewsImage{
        width: 150px;
        height: 150px;
    }

    .mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo h2{
        font-size: 48px;
    }

    .mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo p{
        margin-top: -30px;
    }

    .mentalMathNewsSection .mentalMathNewsBox a{
        padding: 10px;
    }

    /* Ātrrēķināšanas treniņu lauku lapa / Mental Math Training Discilpines Page */

    .numbersModeBar{
        flex-direction: column;
    }

    .numbersModeBar .numbersModeText{
        text-align: center;
    }

    .numbersModeBar ul{
        align-items: center;
    }

    .numbersModeBar ul li{
        font-size: 22px;
        text-align: center;
    }

    .discilpinesList .discilpine{
        flex-direction: column;
    }

    .discilpinesList .discilpine h3{
        text-align: center;
    }

    .discilpinesList .discilpine .discilpineModes{
        text-align: center;
    }

    .discilpinesList .discilpine .discilpineModes a{
        padding: 10px;
        margin-left: 8px;
        margin-right: 8px;
    }

    /* Ātrrēķināšanas treniņu rezultātu lapa / Mental Math Results Page */

    .trainingResultsForm form .trainingResFormFields{
        flex-direction: column;
        text-align: center;
    }

    .trainingResultsForm form .trainingResFormFields .trainingResForm1Half{
        margin-right: 0px;
    }
    
    .trainingResultsForm form .trainingResFormFields .trainingResForm2Half{
        margin-left: 0px;
    }

    .trainingResultsForm form .trainingResFormFields select{
        font-size: 16px;
        border-radius: 12px;
        padding: 5px;
        font-family: Josefin Sans;
    }
    
    .trainingResultsForm form .trainingResFormFields .trainingResForm1Half select{
        width: 150px;
    }

    .trainingResultsForm form .trainingResFormFields .trainingResForm1Half select{
        width: 300px;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .trainingResultsForm form .trainingResFormFields .trainingResForm2Half select{
        width: 300px;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .trainingResultsSection th:nth-child(1), td:nth-child(1){
        width: 7.5%;
    }

    .trainingResultsSection td:nth-child(1){
        font-size: 24px;
    }

    .trainingResultsSection td:nth-child(2) .nameForMobile{
        font-size: 24px;
    }

    .trainingResultsSection td:nth-child(2) .classForMobile, .schoolForMobile{
        display: block;
        font-size: 15px;
        font-style: italic;
    }

    .trainingResultsSection th:nth-child(3), th:nth-child(4){
        display: none;
    }

    .trainingResultsSection td:nth-child(3), td:nth-child(4){
        display: none;
    }

    .trainingResultsSection th:nth-child(1), td:nth-child(5){
        width: 12.5%;
    }    

    /* Ātrrēķināšanas instrukcijas lapa / Mental Math Instruction Page */

    .instructionSection .instructionQuestion p{
        font-size: 24px;
    }

    /* E-skolas tēmu lapa / E-learning Topics Page */

    .eSchoolFilterBox form{
        flex-direction: column;
    }

    .eSchoolFilterBox form .field{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .eSchoolFilterBox form button{
        margin-top: 24px;
        font-size: 28px;
        padding: 4px;
    }

    .eSchoolFilterBox form label{
        display: inline-block;
        margin-right: 20px;
        text-align: center;
    }

    .eSchoolTopicsBox .topicBox{
        flex-direction: row;
        border-radius: 50% 40% 60px 50%;
        width: 90%;
    }

    .eSchoolTopicsBox .topicBox img{
        height: 100%;
        width: auto;
        max-width: 160px;
        margin-right: 20px;
    }

    .eSchoolTopicsBox .topicBox .topicBoxText{
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Foruma kategoriju lapa / Forum Categories Page */

    .forumSearchBox form .forumSearchInput{
        font-size: 24px;
    }

    .forumSearchBox form button{
        margin-top: 20px;
    }

    /* Autentifikācijas lapa / Login Page */

    .loginBox form input{
        width: 80%;
        max-width: 900px;
    }

    .loginBox form label{
        font-size: 24px;
    }

    .secondLoginBox{
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .secondLoginBox .firstPart{
        width: 90%;
    }

    .secondLoginBox .firstPart ul li{
        font-size: 24px;
    }

    /* Reģistrācijas lapa / Registration Page */


    /* Lietotāja profila lapa / User Profile Page */

    .profileBox{
        flex-direction: column;
    }

    .profileBox .profileBoxHalf .value{
        margin-top: 10px;
    }

    .profileButtons ul li{
        font-size: 18px;
    }

    /* Visu lietotāju profilu lapa / All Users Profiles Page */

    .allProfilesTable .mobilePosition{
        display: block;
    }

    .allProfilesTable th:nth-child(3),
    .allProfilesTable th:nth-child(4),
    .allProfilesTable th:nth-child(5),
    .allProfilesTable td:nth-child(3),
    .allProfilesTable td:nth-child(4),
    .allProfilesTable td:nth-child(5){
        display: none;
    }

    .allProfilesTable .mobilePosition{
        font-size: 16px;
    }

    .allProfilesTable .profileButtons{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .allProfilesTable .profileButtons a{
        margin-bottom: 15px;
        font-size: 18px;
    }

    .allProfilesTable .profileButtons .deleteButton{
        font-size: 18px;
    }
}

@media (max-width: 540px){

    body{
        width: 100vw;
        padding-bottom: 250px;
    }

    nav .navbar .nav-links .links li{
        padding-top: 15px;
        display: block;
    }

    nav .navbar .nav-links .links li a, .drop{
        font-size: 24px;
    }

    nav .navbar .nav-links .links li .arrow {
        font-size: 24px;
    }

    nav .navbar .nav-links .links .sub-menu li {
        padding-top: 13.5px;
    }
    

    /* Galvenā lapa / The Main Page */

    .indexImage {
        height: 810px;
        background-image: url(../Images/IndexBackground1_\,mobile.png);
        background-size: scale-down;
        /*background-position: center;*/
    }

    .indexImage .textOnImage1 .textOnImage1_1 {
        font-size: 20px;
    }
    
    .indexImage .textOnImage1 .textOnImage1_2 {
        font-size: 35px;
    }
    
    .indexImage .textOnImage1 .textOnImage1_3 {
        font-size: 50px;
    }
    
    .indexImage .textOnImage1 .textOnImage1_3 .matemila {
        font-size: 60px;
    }

    .newsSection .newsContainer .newsBox{
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }

    .aboutUs{
        width: 100%;
    }
    
    .aboutUs h2{
        font-size: 40px;
    }

    .aboutUs .aboutUsBox{
        margin-left: -40px;
        margin-right: -40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .aboutUs .aboutUsBox p{
        font-size: 20px;
    }

    /* Priekš vairākām lapām / For various pages */

    .purplePageHeader .headerIcon{
        height: 64px;
    }
    
    .purplePageHeader h1{
        font-size: 32px;
    }

    .instructionSection .instructionQuestion{
        height: auto;
    }

    .instructionSection .instructionQuestion p{
        font-size: 18px;
    }

    .formBox form .formHalfs .formHalf input, select, textarea{
        width: 270px;
    }

    .formBox form .formHalfs p{
        width: 270px;
    }

    /* Ātrrēķināšanas jaunumu lapa / Mental Math News Page */

    .mentalMathNewsSection .mentalMathNewsBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mentalMathNewsSection .mentalMathNewsBox .mentalMathNewsImage {
        width: 200px;
        height: 200px;
    }

    .mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo{
        text-align: center;
    }

    .mentalMathNewsSection .mentalMathNewsBox .newsBoxRightSide .generalInfo h2{
        font-size: 42px;
    }

    /* Ātrrēķināšanas treniņu lauku lapa / Mental Math Training Discilpines Page */

    .numbersModeBar ul{
        flex-direction: column;
    }

    .numbersModeBar ul li{
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .discilpinesList .discilpine .discilpineModes{
        flex-wrap: wrap;
    }
    
    .discilpinesList .discilpine .discilpineModes a{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 12px;
    }

    /* Ātrrēķināšanas treniņu rezultātu lapa / Mental Math Training Results Page */

    .trainingResultsSection td:nth-child(2) .nameForMobile{
        font-size: 18px;
    }

    .trainingResultsSection td:nth-child(2) .classForMobile, .schoolForMobile{
        display: block;
        font-size: 12px;
        font-style: italic;
    }

    .trainingResultsSection td:nth-child(5){
        font-size: 16px;
        width: 7.5%;
    }

     /* E-skolas tēmu lapa / E-learning Topics Page */

    .eSchoolFilterBox form .field{
        display: flex;
        flex-direction: column;
    }

    .eSchoolFilterBox form label{
        margin-right: 0px;
    }

    .eSchoolFilterBox form select, input{
        width: 100%;
    }

    .eSchoolTopicsBox .topicBox img{
        height: 100%;
        width: auto;
        max-width: 130px;
        margin-right: 12px;
    }

    .eSchoolTopicsBox .topicBox .topicBoxText h3{
        font-size: 27px;
    }

    /* Foruma kategoriju lapa / Forum Categories Page */

    .forumCategoriesBox .forumCategory{
        flex-direction: column;
    }

    .forumCategoriesBox .forumCategory img{
        height: auto;
        width: auto;
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
    }

    .forumCategoriesBox .forumCategory .forumCategoryText h3{
        font-size: 24px;
    }

    .forumCategoriesBox .forumCategory .forumCategoryText ul{
        margin-top: -20px;
        text-align: right;
    }

    /* Autentifikācijas lapa / Login Page */

    .loginBox form button{
        font-size: 20px;
        width: 50%;
        margin-bottom: 30px;
    }

    /* Reģistrācijas lapa / Registration Page */


    /* Lietotāja profila lapa / User Profile Page */

    .profileBox .profileBoxHalf .label{
        font-size: 18px;
    }

    .profileBox .profileBoxHalf .value{
        font-size: 32px;
    }

    .profileButtons ul{
        flex-direction: column;
    }

    .profileButtons ul li{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
        width: 90%;
    }
}